/* card list */
.card-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2%;
}
.card-item {
	margin-bottom: 10px;
    background: white;
    transition: transform 1.2s;
}
.card-item:hover{ transform: scale(1.05); }
.card-image {
	height: 0;
    padding-bottom: 60%;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.card-image img { display: none; }
.like{
    float: right;
    height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    border:none;
}
.card-desc{
    display: grid;
    grid-template-rows: 80% 20%;
}
/* project-content */
.project-content { display: flex; flex-wrap: wrap; }
.project-company {
    width: 100%;
    height: 20px;
    font-size: 13px;
    color: gray;
}
.project-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 20px;
}
.project-detail { display: flex; }
.funding-percent {
    flex-grow: 1;
    color: rgb(127,0,0);
    font-weight: 500;
}
.funding-d-day { justify-content: flex-end; }
/* qna form */
.qna-form{
    width: 360px;
}
.qna-full{
    background-color: white;
    z-index: 10;
}
.qna-title{
    background-color: rgb(127, 0, 0);
    color: rgb(235, 235, 235);
}
.qna-title-detail{
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
}
.qna-title-detail button{
    background-color: rgb(127, 0, 0);
    border-style: none;
    color: rgb(246, 246, 247);
}
.qna-time{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    height: 100px;
}
.qna-time-image{
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: end;
}
.qna-detail{
    display: grid;
    grid-template-rows: 60% 40%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow:10px 10px 30px #d3d3d3;
}
.qna-1{
    padding: 1rem;
}
.qna-profile{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
    align-items: center;
}
.qna-profile-image{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}
.qna-profile-name{
    font-size: 17px;
    font-weight: 700;
}
.qna-profile-content{
    line-height: 1.3rem;
}
.qna-start-button{
    justify-self: center;
    padding: 1rem;
}
.btn-qna{
    width: 200px;
    height: 40px;
    background-color: white;
    border: solid 1px rgb(235, 235, 235);
    font-size: 18px;
    border-radius: 10px;
}
.btn-qna:hover{
    background-color: rgb(127, 0, 0);
    color: white;
}
.qna-call{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 250px;
}
.qna-bottom{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0.5rem;
}
.top{
    position: relative;
    z-index: 100;
}
/* qna button */
.sticky {
    position: sticky;
    top: 20vh;
    margin-left: 80vw;
    height: 0;
    z-index: 200;
}
.btnQna{
    border: none;
    background-color: #fff7ed;
    color: rgb(127, 0, 0);
    font-weight: 700;
    font-size: large;
    height: 3rem;
    width: 130px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.spanQna{
    vertical-align: top;
}
/* select-box */
.select-a {
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
}
.select-box { border: none; font-size: 16px; }
/* page */
.page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "thumbnail-a thumbnail-a thumbnail-a thumbnail-a"
        "thumbnail-b thumbnail-b thumbnail-b thumbnail-b"
        "thumbnail-c thumbnail-c thumbnail-c thumbnail-c";
    gap: 1rem;
}
.thumbnail-a { grid-area: thumbnail-a; }
.thumbnail-b { grid-area: thumbnail-b; }
.thumbnail-c { grid-area: thumbnail-c; }
.title-form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 제목 */
.title{
    font-size: 100px;
    flex-shrink: 0;
    font-size: 2.2rem;
    font-weight: bold;
}
/* 카테고리 */
.category{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}
.category>.category-title>img:hover{
    opacity: 0.5;
    border: rgb(127,0,0) solid 4px;
}
.cate-title{
    font-size: 1.1rem;
    font-weight: 500;
}
.category-title:hover{
    color: rgb(127,0,0);
}
/* 페이징 */
.page-link{
    color: rgb(0, 0, 0);
}
.page-link:hover{
    color: rgb(127,0,0);
}

