<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectDetailMapper">
  
	<resultMap id="detailResultSet" type="Detail">
    	<result column="PROJECT_NO" property="projectNo"/>
    	<result column="MEMBER_NO" property="memberNo"/>
    	<result column="PRO_CATENO" property="proCategoryNo"/>
    	<result column="BANK_NO" property="bankNo"/>
    	<result column="PROJECT_GOAL" property="projectGoal"/>
    	<result column="PROJECT_TITLE" property="projectTitle"/>
    	<result column="PROJECT_SUBTITLE" property="projectSubtitle"/>
    	<result column="PROJECT_GPRICE" property="projectGoalPrice"/>
    	<result column="PROJECT_START_DT" property="projectStartDate"/>
    	<result column="PROJECT_CLOSE_DT" property="projectEndDate"/>
    	<result column="PROJECT_URL" property="projectURL"/>
    	<result column="PROJECT_THUMPATH" property="projectThumbnailPath"/>
    	<result column="PROJECT_FILENAME" property="projectFileName"/>
    	<result column="PROJECT_REASON" property="projectReason"/>
    	<result column="PROJECT_COUNT" property="projectCount"/>
    	<result column="PROJECT_CONTENT" property="projectContent"/>
    	<result column="PROJECT_VURL" property="projectVideoURL"/>
    	<result column="PROJECT_REFCON" property="projectRefundPolicy"/>
    	<result column="CREATOR_THUMPATH" property="creatorThumbnailPath"/>
    	<result column="CREATOR_PROFILE" property="creatorProfile"/>
    	<result column="CREATOR_NAME" property="creatorName"/>
    	<result column="CREATOR_INTRO" property="creatorIntro"/>
    	<result column="CREATOR_PHONE" property="creatorPhone"/>
    	<result column="PHONE_CHECK" property="phoneCheck"/>
    	<result column="CREATOR_EMAIL" property="creatorEmail"/>
    	<result column="CREATOR_BANK" property="creatorBank"/>
    	<result column="CREATOR_ACOUNT" property="creatorAccount"/>
    	<result column="CREATOR_ACHOLDER" property="accountHolder"/>
    	<result column="CREATOR_WEBURL" property="webURL"/>
    	<result column="CREATOR_INSTA" property="insta"/>
    	<result column="CREATOR_FACEBOOK" property="facebook"/>
    	<result column="CREATOR_STATUS" property="status"/>
    	<result column="HASHTAG" property="hashtag"/>
    	<result column="PROJECT_CRDATE" property="createDate"/>
    	<result column="PROJECT_TEMPORARY" property="projectTemp"/>
    	<result column="PRO_CATENAME" property="projectCategoryName"/>
 	</resultMap>

	<resultMap id="detailRewardResultSet" type="DetailReward">
  		<result column="RE_NO" property="rewardNo"/>
  		<result column="PROJECT_NO" property="projectNo"/>
  		<result column="RE_PRICE" property="rewardPrice"/>
  		<result column="RE_STATUS" property="rewardStatus"/>
  		<result column="RE_NUMBER" property="rewardNumber"/>
  		<result column="RE_SH_STATUS" property="rewardShCheck"/>
  		<result column="RE_SALECOUNT" property="saleCount"/>
  	</resultMap>
 	
 	
 	<resultMap id="detailRewardOptResultSet" type="DetailRewardOpt">
 		<result column="RE_OPTION_NO" property="optionNo"/>
		<result column="REWARD_NO" property="rewardNo"/>
		<result column="RE_OPTION_NAME" property="rewardContent"/>
 	</resultMap>
 	
 	<resultMap id="detailReportResultSet" type="DetailReport">
 		<result column="REPORT_NO" property="reportNo"/>
 		<result column="PROJECT_NO" property="projectNo"/>
 		<result column="PROJECT_TITLE" property="projectTitle"/>
 		<result column="MEMBER_NO" property="memberNo"/>
 		<result column="REPORT_CONTENT" property="reportContent"/>
 		<result column="REPORT_DATE" property="reportDate"/>
 		<result column="REPORT_STATUS" property="reportStatus"/>
 	</resultMap>
 	
  	<resultMap id="likeResultSet" type="Like">
 		<result column="PROJECT_NO" property="projectNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
 	</resultMap>
  
	<resultMap id="replyResultSet" type="Reply">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="PROJECT_NO" property="projectNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="MEMBER_SYSTEMNAME" property="memberSystemName"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>
	</resultMap>
	
	<resultMap id="subReplyResultSet" type="SubReply">
		<result column="SUBRE_ANSNO" property="subReAnsNo"/>
		<result column="REPLY_NO" property="replyNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="SUBRE_CONTENT" property="subReContent"/>
		<result column="SUBRE_DATE" property="subReDate"/>
		<result column="SUBRE_STATUS" property="subReStatus"/>
		<result column="MEMBER_SYSTEMNAME" property="memberSystemName"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>	
	</resultMap>
 	
 	<resultMap id="DetailPurchaseResultSet" type="DetailPurchase">
 		<result column="RE_PRICE" property="rePrice"/>
 		<result column="REWARD_AMOUNT" property="rewardAmount"/>
 	</resultMap>
   <select id="selectListCount" resultType="_int">
   	SELECT 
   		   COUNT(*)
      FROM PROJECT
     WHERE CREATOR_STATUS = 'U' 		   
   </select>
  
   <select id="selectDetailList" resultMap="detailResultSet">
   	SELECT 
   		    PROJECT_NO
		  , P.PRO_CATENO
		  , PROJECT_TITLE
		  , PROJECT_GPRICE
		  , PROJECT_FILENAME
		  , CREATOR_NAME
		  , C.PRO_CATENAME
      FROM  PROJECT P
          , PRO_CATEGORY C 
     WHERE CREATOR_STATUS = 'U' 
       AND P.PRO_CATENO = C.PRO_CATENO
     ORDER
        BY PROJECT_NO DESC 		   
   </select>
  
  	<update id="increaseDetailCount" parameterType="_int">
  		UPDATE 
  			   PROJECT
  		   SET PROJECT_COUNT = PROJECT_COUNT+1
  		 WHERE CREATOR_STATUS = 'U'
  		   AND PROJECT_NO = #{ pno }
  	</update>
  
<!-- 프로젝트 디테일 상세조회  -->  
  	<select id="selectDetailAll" parameterType="_int" resultMap="detailResultSet">
  		   SELECT
	    	  	  PROJECT_NO
				, MEMBER_NO
				, P.PRO_CATENO
				, BANK_NO
				, PROJECT_GOAL
				, PROJECT_TITLE
				, PROJECT_SUBTITLE
				, PROJECT_GPRICE
				, PROJECT_START_DT
				, PROJECT_CLOSE_DT
				, PROJECT_URL
				, PROJECT_THUMPATH
				, PROJECT_FILENAME
				, PROJECT_CONTENT
				, PROJECT_VURL
				, PROJECT_REFCON
				, CREATOR_THUMPATH
				, CREATOR_PROFILE
				, CREATOR_NAME
				, CREATOR_INTRO
				, CREATOR_PHONE
				, PHONE_CHECK
				, CREATOR_EMAIL
				, CREATOR_BANK
				, CREATOR_ACOUNT
				, CREATOR_ACHOLDER
				, CREATOR_WEBURL
				, CREATOR_INSTA
				, CREATOR_FACEBOOK
				, HASHTAG
				, PROJECT_CRDATE
				, PROJECT_TEMPORARY
				, C.PRO_CATENAME
		     FROM PROJECT P
			    , PRO_CATEGORY C 
		    WHERE CREATOR_STATUS = 'U'
	   	      AND P.PRO_CATENO = C.PRO_CATENO
		      AND PROJECT_NO = #{ pno }
  	</select>
  	
<!-- 리워드 조회 쿼리 -->  	
  	<select id="selectDetailReward" parameterType="_int" resultMap="detailRewardResultSet">
 	SELECT *
  		  FROM REWARD
  	     WHERE PROJECT_NO = #{ pno }
 		 ORDER
 		    BY RE_NO
  	</select>
  	
  	<select id="selectDetailRewardOpt" parameterType="_int" resultMap="detailRewardOptResultSet">
 	SELECT *
  		  FROM RE_OPTION
  	     WHERE REWARD_NO = #{ rno } 
  	</select>
  	
<!-- 프로젝트 신고 등록 쿼리 -->  	
	<insert id="insertReport" parameterType="DetailReport">
  		INSERT 
  		  INTO REPORT
	  		  (
	  		  	  REPORT_NO
	  		  	, PROJECT_NO
	  		  	, MEMBER_NO
	  		  	, REPORT_CONTENT
	  		  	, REPORT_DATE
	  		  	, REPORT_STATUS
	  		  )
  		VALUES (
  				  SEQ_RPNO.NEXTVAL	
  				, #{ projectNo }
  				, #{ memberNo }
  				, #{ reportContent }
  				, SYSDATE
  				, 'P'
  			   )  
  	</insert>
  	
  	
<!-- 좋아요 생성 쿼리 --> 
<insert id="insertDetailLike" parameterType="Like">
	INSERT
	  INTO LIKEY
	      (
	          PROJECT_NO
	        , MEMBER_NO
	      )
    VALUES (
    		   #{projectNo}
    		 , #{memberNo}
    		)
</insert> 	

<!-- 좋아요 삭제 쿼리 -->
<delete id="deleteDetailLike" parameterType="Like">
	DELETE 
	  FROM LIKEY
	 WHERE PROJECT_NO = #{projectNo}
	   AND MEMBER_NO = #{memberNo}
</delete>
 	
<!-- 좋아요 조회 쿼리 -->
<select id="selectDetailLike" parameterType="Like" resultType="_int">
	SELECT COUNT(*)
	  FROM LIKEY
	 WHERE PROJECT_NO = #{projectNo}
   	   AND MEMBER_NO = #{memberNo}  
</select>

<!-- 댓글 조회 쿼리 -->
<select id="selectReply" parameterType="_int" resultMap="replyResultSet">
	SELECT REPLY.PROJECT_NO,
	       REPLY.MEMBER_NO,
	       REPLY.REPLY_CONTENT,
	       TO_CHAR(REPLY.REPLY_DATE, 'YYYY-MM-DD') AS REPLY_DATE,
	       REPLY.REPLY_NO,
	       REPLY.REPLY_STATUS,
	       M.MEMBER_NICKNAME,
	       M.MEMBER_SYSTEMNAME
	  FROM REPLY
	  LEFT JOIN MEMBER M ON REPLY.MEMBER_NO = M.MEMBER_NO
	 WHERE PROJECT_NO = #{pno}
	   AND REPLY.REPLY_STATUS = 'Y'
	 ORDER
	    BY REPLY_NO DESC
</select>

<!-- 대댓글 조회 쿼리 -->
<select id="selectSubReply" parameterType="_int" resultMap="subReplyResultSet">
	SELECT REPLY_ANS.REPLY_NO,
	       REPLY_ANS.MEMBER_NO,
	       REPLY_ANS.SUBRE_ANSNO,
	       REPLY_ANS.SUBRE_CONTENT,
	       TO_CHAR(REPLY_ANS.SUBRE_DATE, 'YYYY-MM-DD') AS SUBRE_DATE,
	       REPLY_ANS.SUBRE_STATUS,
	       M.MEMBER_NICKNAME,
	       M.MEMBER_SYSTEMNAME
	  FROM REPLY_ANS
      LEFT JOIN MEMBER M ON REPLY_ANS.MEMBER_NO = M.MEMBER_NO
	 WHERE REPLY_NO = #{rno}
	   AND REPLY_ANS.SUBRE_STATUS = 'Y'
	 ORDER
	    BY SUBRE_ANSNO DESC
</select>


<!-- 댓글 등록 쿼리 -->
<insert id="insertReply" parameterType="Reply">
  		INSERT 
  		  INTO REPLY
	  		  (
	  		  	  REPLY_NO
	  		  	, MEMBER_NO
		  		, PROJECT_NO
	  		  	, REPLY_CONTENT
	  		  	, REPLY_DATE
	  		  	, REPLY_STATUS
	  		  )
  		VALUES (
  				  SEQ_RENO2.NEXTVAL	
  				, #{ memberNo }
  				, #{ projectNo }
  				, #{ replyContent }
  				, SYSDATE
  				, 'Y'
  			   )  
</insert> 

<!-- 댓글 수정 쿼리 -->
<update id="updateReply" parameterType="Reply">
	UPDATE REPLY
	   SET REPLY_CONTENT=#{replyContent}
	     , REPLY_DATE=SYSDATE
	 WHERE REPLY_NO=#{ replyNo }
</update>

<!-- 댓글 삭제 쿼리 -->
<update id="deleteReply" parameterType="_int">
	UPDATE REPLY
	   SET REPLY_STATUS='N'
	     , REPLY_DATE=SYSDATE
	 WHERE REPLY_NO=#{ rno }
</update>

<!-- 대댓글 등록 쿼리 -->
<insert id="insertSubReply" parameterType="Reply">
  		INSERT 
  		  INTO REPLY_ANS
	  		  (
	  		  	  SUBRE_ANSNO
	  		  	, REPLY_NO
	  		  	, MEMBER_NO
	  		  	, SUBRE_CONTENT
	  		  	, SUBRE_DATE
	  		  	, SUBRE_STATUS
	  		  )
  		VALUES (
  				  SEQ_RRENO2.NEXTVAL
  				, #{ replyNo } 	
  				, #{ memberNo }
  				, #{ replyContent }
  				, SYSDATE
  				, 'Y'
  			   )  
</insert> 

<!-- 대댓글 수정 쿼리 -->
<update id="updateSubReply" parameterType="Reply">
	UPDATE REPLY_ANS
	   SET SUBRE_CONTENT=#{replyContent}
	     , SUBRE_DATE=SYSDATE
	 WHERE SUBRE_ANSNO=#{ replyNo }
</update>

<!-- 대댓글 삭제 쿼리 -->
<update id="deleteSubReply" parameterType="_int">
	UPDATE REPLY_ANS
	   SET SUBRE_STATUS='N'
	     , SUBRE_DATE=SYSDATE
	 WHERE SUBRE_ANSNO=#{ sno }
</update>

<!-- 대댓글 조회 쿼리 -->
<select id="selectSubReplyOne" parameterType="Reply" resultMap="subReplyResultSet">
	SELECT REPLY_ANS.REPLY_NO,
	       REPLY_ANS.MEMBER_NO,
	       REPLY_ANS.SUBRE_ANSNO,
	       REPLY_ANS.SUBRE_CONTENT,
	       TO_CHAR(REPLY_ANS.SUBRE_DATE, 'YYYY-MM-DD') AS SUBRE_DATE,
	       REPLY_ANS.SUBRE_STATUS,
	       M.MEMBER_NICKNAME,
	       M.MEMBER_SYSTEMNAME
	  FROM REPLY_ANS
      LEFT JOIN MEMBER M ON REPLY_ANS.MEMBER_NO = M.MEMBER_NO
	 WHERE REPLY_NO = #{ replyNo }
	   AND REPLY_ANS.SUBRE_STATUS = 'Y'
	   AND REPLY_ANS.MEMBER_NO = #{ memberNo }
	   AND REPLY_ANS.SUBRE_CONTENT = #{ replyContent }
</select>

<!-- 결제정보 조회 쿼리 -->

<select id="selectDetailPurchase" parameterType="_int" resultMap="DetailPurchaseResultSet">
	SELECT REWARD_AMOUNT, RE_PRICE
	  FROM PURCHASE_INFO
	  LEFT JOIN REWARD R ON PURCHASE_INFO.RE_NO = R.RE_NO
	 WHERE R.PROJECT_NO = #{pno} AND PURINFO_STATUS = 'Y'	 
</select>


</mapper>
