@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

/* COMMON */
* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}

header .inner {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.header__left {
    display: flex;
    flex: 1;
    align-items: center;
}

header a:hover {
    font-weight: bold;
    color: #ccc4bb;
}

/* BTN */
.btn {
    outline: none;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn--main {
    background: #7f0000 linear-gradient(#8b1111, #7f0000);
    transition: all 0.2s;
}
.btn--main:hover {
    background: #630000;
    box-shadow: 0 0 7px gray;
}
.btn a {
    color: #fff;
    font-weight: bold;
}
.search__box {
    position: relative;
}

.search__box span {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}

.search-bar {
    width: 200px;
    font-size: 14px;
    padding: 5px;
    outline: none;
    border: 1px solid #999;
    border-radius: 5px;
    transition: all 0.3s;
}

.search-bar:focus {
    width: 230px;
    border: 1px solid #000;
}

.header__left .logo {
    display: block;
    max-width: 160px;
    margin-right: 20px;
}

.logo img {
    width: 100%;
}
.header__left .header__nav {
    display: flex;
}

.header__nav li a {
    padding: 5px 10px;
}

.header__left .btn {
    margin-left: 20px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__right .header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__right .sign__group {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__icon span {
    font-size: 30px;
}

/* FOOTER */
footer {
    font-size: 10px;
    font-weight: 600;
    position: relative;
    background-color: #ccc4bb;
}

footer .footer__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
    padding: 10px 0 30px 0;
    letter-spacing: 0.2px;
    margin-top: 50px;
}

.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.footer__left .summary__title {
    color: #7f0000;
}

.footer__left .summary__description {
    color: #333;
}

.footer__right {
    text-align: right;
    display: flex-end;
    flex-direction: column;
    gap: 15px;
}

.footer__right .summary__title {
    color: #7f0000;
}

.footer__right .summary__description {
    color: #333;
}

.footer__center {
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer__center img {
    height: 40px;
    margin: 0 auto;
}

.section {
    min-height: 700px;
}
/* 검색 슬라이드 */
.search-slide {
    position: absolute;
    z-index: 9000;
    background-color: white;
    width: 230px;
    display: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.search-cate-btn {
    border: none;
    padding: 0.5rem;
}
.search-bot-btn {
    border: none;
    background-color: white;
}
.search-text {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 0.5rem;
    justify-content: center;
    padding-left: 15px;
}
.search-text-btn {
    border: none;
    background-color: white;
}
.search-category {
    display: grid;
    grid-template-columns: 50% 50%;
}
.search-category button {
    background-color: #fff7ed;
}
.search-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}
.search-bottom button{
    border: none;
    background-color: white;
}
.search-bot-btn-delete {
    justify-self: start;
}
.search-bot-btn-close {
    justify-self: end;
}
/* 알림창 버튼 */
.alarm-btn{
    outline: none;
    border: none;
    background-color: white;
}
.alarm-btn i{
    color: #333;
}
.alarm-btn i:hover{
    color: rgb(127, 0, 0);
}