<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="proInsertMapper">
  
  	    <resultMap type="ProjectCategory" id="categoryResultSet">
  	    	<result column="PRO_CATENO" property="projectCategory"/>
  	    	<result column="PRO_CATENAME" property="projectCategoryName"/>
  	    </resultMap>
  	    
  	    <resultMap type="com.donjomjo.dreamfunding.projectInsert.model.vo.Bank" id="bankResultSet">
  	   	 <result column="BANK_NO" property="bankNo"/>
  	     <result column="BANK_NAME" property="bankName"/>
  	   
  	    </resultMap>
  	    
  	   <select id="selectCategory"
  	   		   resultMap="categoryResultSet">
  	   	SELECT
  	   	      PRO_CATENO
  	         ,PRO_CATENAME
  	     FROM
  	         PRO_CATEGORY    
  	   </select>
  	   
  	   <select id="selectBank"
  	   		   resultMap="bankResultSet">
  	   	SELECT
  	   		  BANK_NO
  	   		 ,BANK_NAME
  	   	  FROM
  	   	      BANK	   
  	   </select>
  
</mapper>
