<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.donjomjo.dreamfunding.index.model.vo.Index" alias="Index"/>
		<typeAlias type="com.donjomjo.dreamfunding.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.donjomjo.dreamfunding.order.model.vo.Shipping" alias="Shipping"/>
		<typeAlias type="com.donjomjo.dreamfunding.projectInsert.model.vo.ProjectCategory" alias="ProjectCategory"/>
		<typeAlias type="com.donjomjo.dreamfunding.projectInsert.model.vo.ProjectInsert" alias="ProjectInsert"/>
		<typeAlias type="com.donjomjo.dreamfunding.projectInsert.model.vo.RewardOption" alias="RewardOption"/>
		<typeAlias type="com.donjomjo.dreamfunding.projectInsert.model.vo.Reward" alias="Reward"/>
		<typeAlias type="com.donjomjo.dreamfunding.serviceCenter.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.donjomjo.dreamfunding.projectInsert.model.vo.Bank" alias="Bank"/>
		<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.Detail" alias="Detail"/>
				<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.DetailReport" alias="DetailReport"/>
		<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.Like" alias="Like"/>
		<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.SubReply" alias="SubReply"/>
		<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.DetailReward" alias="DetailReward"/>
		<typeAlias type="com.donjomjo.dreamfunding.detail.model.vo.DetailRewardOpt" alias="DetailRewardOpt"/>
		<typeAlias type="com.donjomjo.dreamfunding.order.model.vo.MemberPurchase" alias="MemberPurchase"/>
		<typeAlias type="com.donjomjo.dreamfunding.order.model.vo.PurchaseInfo" alias="PurchaseInfo"/>
		<typeAlias type="com.donjomjo.dreamfunding.mypage.model.vo.FundingProject" alias="FundingProject"/>
		<typeAlias type="com.donjomjo.dreamfunding.mypage.model.vo.LikeProject" alias="LikeProject"/>
		<typeAlias type="com.donjomjo.dreamfunding.admin.model.vo.Report" alias="Report"/>
				
	</typeAliases>
	 
	<mappers>
		<mapper resource="/mappers/projectInsert/proInsert-mapper.xml"/>
		<mapper resource="/mappers/index/index-mapper.xml"/>
		<mapper resource="/mappers/member/member-mapper.xml"/>
		<mapper resource="/mappers/mypage/mypage-mapper.xml"/>
		<mapper resource="/mappers/order/order-mapper.xml"/>
		<mapper resource="/mappers/projectDetail/projectDetail-mapper.xml"/>
		<mapper resource="/mappers/serviceCenter/serviceCenter-mapper.xml"/>
		<mapper resource="/mappers/admin/report-mapper.xml"/>
	</mappers>

</configuration>
