<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap id="projectResultSet" type="ProjectInsert">
		<result column="project_no" property="projectNo"/>
		<result column="project_title" property="projectTitle"/>	
	</resultMap>
	
	<resultMap id="shippingResultSet" type="Shipping">
		<result column="shipping_no" property="shippingNo"/>
		<result column="member_no" property="memberNo"/>
		<result column="shipping_zipcode" property="shippingZipcode"/>
		<result column="shpping_d_addr" property="shippingDAddr"/>
		<result column="shipping_s_addr" property="shippingSAddr"/>
		<result column="receiever_name" property="receieverName"/>
		<result column="receiever_phone" property="receieverPhone"/>
		<result column="shipping_basic" property="shippingBasic"/>
	</resultMap>

	<resultMap id="memberPurchaseResultSet" type="MemberPurchase">
		<result column="purchase_no" property="purchaseNo"/>
		<result column="member_no" property="memberNo"/>
		<result column="purchase_c_number" property="purchaseCNumber"/>
		<result column="purchase_v_year" property="purchaseVYear"/>
		<result column="purchase_v_month" property="purchaseVMonth"/>
		<result column="purchase_c_pwd" property="purchaseCPwd"/>
		<result column="purchase_c_date" property="purchaseCDate"/>
		<result column="purchase_bkey" property="purchaseBKey"/>
		<result column="purchase_email" property="purchaseEmail"/>
		<result column="purchase_basic" property="purchaseBasic"/>		
	</resultMap>
	<select id="selectProject" 
			parameterType="_int" 
			resultMap="projectResultSet">
		select
		       project_title
		  from project
		 where project_no = #{pno}
	</select>
	
	<select id="selectShipping"
			parameterType="_int"
			resultMap="shippingResultSet">
		select *
		  from shippping
		 where member_no = #{mno}		
	</select>
	
	<select id="selectMemberPurchaseList"
			parameterType="_int"
			resultMap="memberPurchaseResultSet">
			select 
			       purchase_c_number
			     , purchase_v_year
			     , purchase_v_month
			     , purchase_c_pwd
			     , purchase_c_date
			     , purchase_bkey
			     , purchase_email
			     , purchase_basic
			  from member_purchase
			 where member_no = #{mno}
	</select>
  
</mapper>
