<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap id="projectResultSet" type="ProjectInsert">
		<result column="project_no" property="projectNo"/>
		<result column="project_title" property="projectTitle"/>
		<result column="project_close_dt" property="projectEndDate"/>	
		<result column="pro_cateno" property="proCategoryNo"/>
		<result column="project_filename" property="projectFileName"/>
		<result column="project_thumpath" property="projectThumbnailPath"/>
	</resultMap>
	
	<resultMap id="shippingResultSet" type="Shipping">
		<result column="shipping_no" property="shippingNo"/>
		<result column="member_no" property="memberNo"/>
		<result column="shipping_zipcode" property="shippingZipcode"/>
		<result column="shpping_d_addr" property="shippingDAddr"/>
		<result column="shipping_s_addr" property="shippingSAddr"/>
		<result column="receiever_name" property="receieverName"/>
		<result column="receiever_phone" property="receieverPhone"/>
		<result column="shipping_basic" property="shippingBasic"/>
	</resultMap>

	<resultMap id="memberPurchaseResultSet" type="MemberPurchase">
		<result column="purchase_no" property="purchaseNo"/>
		<result column="member_no" property="memberNo"/>
		<result column="purchase_c_number" property="purchaseCNumber"/>
		<result column="purchase_v_year" property="purchaseVYear"/>
		<result column="purchase_v_month" property="purchaseVMonth"/>
		<result column="purchase_c_pwd" property="purchaseCPwd"/>
		<result column="purchase_c_date" property="purchaseCDate"/>
		<result column="purchase_bkey" property="purchaseBKey"/>
		<result column="purchase_email" property="purchaseEmail"/>
		<result column="purchase_basic" property="purchaseBasic"/>		
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
	  	<result column="member_no" property="memNo"/>
	  	<result column="member_email" property="email"/>
	  	<result column="member_pwd" property="memNick"/>
	  	<result column="member_name" property="memName"/>
	  	<result column="member_phone" property="phone"/>
	  	<result column="member_createdate" property="memCreate"/>
	  	<result column="member_gender" property="gender"/>
	  	<result column="member_pf_path" property="memPfPath"/>
	  	<result column="member_systemname" property="memSystemname"/>
	  	<result column="member_status" property="memStatus"/>
	  	<result column="member_link" property="memLink"/>
	  	<result column="refres_token" property="refresToken"/>
	  	<result column="access_token" property="accessToken"/>
	  	<result column="status" property="status"/>
	  </resultMap>
	  
	  <resultMap id="rewardResultSet" type="Reward">
	  	<result column="RE_NO" property="rewardNo"/>
  	    <result column="PROJECT_NO" property="projectNo"/>
  	    <result column="RE_PRICE" property="rewardPrice"/>	  
	  </resultMap>
	  
	  <resultMap type="RewardOption" id="rewardOptionResultSet">
  	    	<result column="RE_OPTION_NO" property="optionNo"/>
  	    	<result column="REWARD_NO" property="rewardNo"/>
  	    	<result column="RE_OPTION_NAME" property="rewardContent"/>
  	    </resultMap>
	
		<resultMap type="PurchaseInfo" id="purchaseInfoResultSet">
			<result column="purinfo_no" property="purinfoNo"/>
			<result column="member_no" property="memberNo"/>
			<result column="re_no" property="reNo"/>
			<result column="reward_amount" property="rewardAmount"/>
			<result column="reward_plus" property="rewardPlus"/>
			<result column="purinfo_status" property="purinfoStatus"/>
			<result column="delivery_status" property="deliveryStatus"/>
			<result column="shipping_zippcode" property="shippingZipcode"/>
			<result column="shpping_s_addr" property="shippingSAddr"/>
			<result column="shipping_d_addr" property="shippingDAddr"/>
			<result column="receiever_name" property="receieverName"/>
			<result column="receiever-phone" property="receieverPhone"/>
			<result column="purchase_c_number" property="purchaseCNumber"/>
			<result column="purchase_v_year" property="purchaseVYear"/>
			<result column="purchase_v_month" property="purchaseVMonth"/>
			<result column="purchase_c_pwd" property="purchaseCPwd"/>
			<result column="purchase_c_date" property="purchaseCDate"/>
			<result column="purchase_bkey" property="purchaseBkey"/>
			<result column="purchase_email" property="purchaseEmail"/>
			<result column="re_price" property="rewardPrice"/>
			<result column="project_title" property="projectTitle"/>	
			<result column="project_close_dt" property="projectCloseDt"/>			
		
		</resultMap>
		
		<resultMap id="projectCategoryResultSet" type="ProjectCategory">
			<result column="pro_cateno" property="projectCategory"/>
			<result column="pro_catename" property="projectCategoryName"/>
		</resultMap>
	
	
	<select id="selectProject" 
			parameterType="_int" 
			resultMap="projectResultSet">
		select
		       project_title
		     , project_no
		     , project_close_dt
		     , pro_cateno
		  from project
		 where project_no = #{pno}
	</select>
	
	<select id="selectShipping"
			parameterType="_int"
			resultMap="shippingResultSet">
		select *
		  from shippping
		 where member_no = #{mno}		
	</select>
	
	<select id="selectMemberPurchaseList"
			parameterType="_int"
			resultMap="memberPurchaseResultSet">
			select 
			       purchase_c_number
			     , purchase_v_year
			     , purchase_v_month
			     , purchase_c_pwd
			     , purchase_c_date
			     , purchase_bkey
			     , purchase_email
			     , purchase_basic
			  from member_purchase
			 where member_no = #{mno}
	</select>
	
	<select id="selectMember"
			parameterType="_int"
			resultMap="memberResultSet">
		select *
		  from member
		 where member_no = #{mno}
	</select>
	
	<insert id="insertPurchaseInsert" parameterType="PurchaseInfo">
		<!-- 
		insert 
		  into purchase_Info
		  (
		     purinfo_no
		   , member_no
		   , re_no
		   , reward_amount
		   , reward_plus
		   , purinfo_status
		   , delivery_status
		   , shipping_zipcode
		   , shpping_s_addr
		   , shipping_d_addr
		   , receiever_name
		   , receiever_phone
		   , purinfo_req
		   , purchase_c_number
		   , purchase_v_year
		   , purchase_v_month
		   , purchase_c_pwd
		   , purchase_c_date
		   , purchase_bkey
		   , purchase_email
		  )
		  values
		  (
		     seq_odno.nextval
		   , #{memberNo}
		   , #{reNo}
		   , #{rewardAmount}
		   , #{rewardPlus}
		   , "Y"
		   , "결제완료"
		   , #{shippingZipcode}
		   , #{shippingSAddr}
		   , #{shippingDAddr}
		   , #{receieverName}
		   , #{receieverPhone}
		   , #{purinfoReq}
		   , #{purchaseCNumber}
		   , #{purchaseVYear}
		   , #{purchaseVMonth}
		   , #{purchaseCPwd}
		   , #{purchaseCDate}
		   , #{purchaseBkey}
		   , "n" 
		  )
		   -->
		  insert 
		    into purchase_Info
		    (
			     purinfo_no
			   , member_no
			   , re_no
			   , reward_amount
			   <if test='rewardPlus != 0'>
			   		, reward_plus
			   </if>
			   , purinfo_status
			   , delivery_status
			   , shipping_zipcode
			   , shpping_s_addr
			   , shipping_d_addr
			   , receiever_name
			   , receiever_phone
			   , purinfo_req
			   , purchase_c_number
			   , purchase_v_year
			   , purchase_v_month
			   , purchase_c_pwd
			   , purchase_c_date
			   , purchase_bkey
			   , purchase_email
		  	 )  
			  values
			  (
			     seq_odno.nextval
			   , #{memberNo}
			   , #{reNo}
			   , #{rewardAmount}
			   <if test='rewardPlus != 0'>
			   		, #{rewardPlus}
			   </if>
			   , 'Y'
			   , '결제완료'
			   , #{shippingZipcode}
			   , #{shippingSAddr}
			   , #{shippingDAddr}
			   , #{receieverName}
			   , #{receieverPhone}
			   , #{purinfoReq}
			   , #{purchaseCNumber}
			   , #{purchaseVYear}
			   , #{purchaseVMonth}
			   , #{purchaseCPwd}
			   , #{purchaseCDate}
			   , #{purchaseBkey}
			   , 'n'
			  )
		  
	</insert>
	
	<select id="selectReward" 
			parameterType="_int"
			resultMap="rewardResultSet">
		select
		       re_no
		     , project_no
		     , re_price
		  from reward
		 where re_no = #{reno}
	</select>
	
	<select id="selectRewardOption"
			parameterType="_int"
			resultMap="rewardOptionResultSet">
			select 
			       re_option_name
			  from re_option
			 where reward_no = #{reno}
	</select>
	
	<select id="selectPurchaseInfo1"
			parameterType="PurchaseInfo"
			resultMap="purchaseInfoResultSet">
		select *
		  from purchase_Info
		 where purchase_bkey = #{purchaseBkey}
	</select>
	
	<select id="selectPurchaseInfo2"
			parameterType="_int"
			resultMap="purchaseInfoResultSet">
		select *
		  from purchase_Info
		 where purinfo_No = #{pno}
	</select>
	
	<select id="selectProjectCate"
			parameterType="_int"
			resultMap="projectCategoryResultSet">
		select *
		  from pro_category
		 where pro_cateno = #{pcno}
	</select>
	
	<select id="selectProjectList"
			resultMap="projectResultSet">
		select
		       project_title
		     , project_no
		     , project_close_dt
		     , pro_cateno
		     , project_thumpath
		     , project_filename
		  from project
	</select>
	
	<select id="selectOrderList"
			resultMap="purchaseInfoResultSet">
		select p.*
		     , r.re_price
		     , A.project_title
		     , A.project_close_dt
		  from purchase_info p
		     , reward r
		     , (
		        select project_title
		             , project_no
		             , project_close_dt
		          from project
		        ) A
		 where p.re_no = r.re_no
		   and r.project_no = A.project_no
	</select>
  
</mapper>
