:root {
    --beige--color: #c6a36e;
    --lightbeige--color: #d4c6ae;
    --wine--color: #8c2a2a;
    --white-color: #ffffffff;
    --lughtgray-color: rgb(226, 226, 226);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a[href="#totheTop"] {
    font-size: 1.5rem;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.header__nav > li {
    list-style: none;
}
#firstlayer_outer {
    width: 1300px;
    margin: auto;
}
#button_wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 50px;
}

#button_wrapper > .btn.btn-primary {
    margin-left: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    height: 36px;
    line-height: 50%;
    background-color: var(--wine--color);
    color: var(--white-color);
    font-size: 1.2rem;
    letter-spacing: 4px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
    border: none;
}
#secondlayer_outer {
    width: 100%;
    margin-top: 20px;
}
.bar.upper {
    padding-left: 10px;
    background-color: var(--beige--color);
    margin-bottom: 5px;
    height: 35px;
    line-height: 40px;
    font-size: 1.3rem;
    font-family: "Jua", sans-serif;
    color: var(--white-color);
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
    cursor: pointer;
}
.bar.upper:hover {
    background-color: var(--lightbeige--color);
}
#story_wrapper {
    border: 1px solid var(--lughtgray-color);
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
    padding-bottom: 50px;
}
.title_area {
    height: 150px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
}
.title-font {
    font-size: 5rem;
    font-style: italic;
}
.subtitle-font {
    font-size: 1.6rem;
    margin-left: 30px;
    letter-spacing: 2px;
}
.article_wrapper {
    width: 100%;
    display: flex;
}
.leftarticle_wrapper {
    width: 82%;
    margin-top: 100px;
    padding-left: 30px;
}
.remote_fixedwrapper {
    width: 18%;
    float: right;
}
.remoteController {
    width: 180px;
    height: 320px;
    border: 3px solid var(--beige--color);
    flex-direction: column;
    display: flex;
    position: fixed;
    top: 550px;

    bottom: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--lightbeige--color);
    align-items: center;
}
.remoteController > .remote_icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
}
.remoteController > .remote_icon i {
    flex-direction: column;
    font-size: 1.7rem;
    color: rgb(160, 160, 160);
    cursor: pointer;
}
.remoteController > .remote_icon i:hover {
    color: var(--beige--color);
}
.remote_btn {
    width: 90%;
    height: 40px;
    border: 1px solid var(--beige--color);
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(80, 80, 80);
}
.remote_btn:hover {
    background-color: var(--beige--color);
    color: var(--wine--color);
}
#editor.ck {
    position: relative;
    bottom: 23px;
}
.inputList_title {
    font-size: 1.2rem;
    font-weight: bold;
}

.input_explanation {
    margin-top: 10px;
    color: gray;
}
.explanation_wrapper {
    width: 330px;
    min-height: 130px;
    padding-bottom: 50px;
}
#exampleFormControlSelect1 {
    width: 300px;
    font-size: 1.3rem;
}
option {
    font-size: 1.5rem;
}
.form-control {
    font-size: 1.2rem;
}
.form-control.pro_title {
    width: 600px;
    font-size: 1.2rem;
}
.form-control.pro_title1 {
    font-size: 1.2rem;
}
.form-control.pri_amount {
    width: 200px;
    font-size: 1.2rem;
}
.lettercounter {
    padding-right: 5px;
    padding-top: 5px;
    margin-right: 50px;
    text-align: end;
}
#calenderbox {
    display: flex;
}
#image_wrapper {
    height: 200px;
    display: block;
}

.userInputarea.imagesection {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 50px;
}

.btn-outline.hashtagBtn {
    color: var(--wine--color);
    border: 1px solid var(--wine--color);
    margin-left: 5px;
}

#hashtagDisplayArea {
    margin-top: 10px;
    background-color: var(--beige--color);
    border-radius: 5px;
    width: 500px;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 3px 3px 2px lightgray;
}
.hashtag {
    background-color: whitesmoke;
    display: inline-block;
    color: var(--wine--color);
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
}

#reward_wrapper,
#notice_wrapper,
#subinfo_wrapper {
    border: 1px solid var(--lughtgray-color);
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
}
#rewardAmount {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#reward_product {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#rewardInputBtn {
    color: var(--wine--color);
    border: 1px solid var(--wine--color);
    margin-left: 5px;
}

#reward_list {
    list-style-type: circle;
    margin-left: 22px;
    margin-top: 10px;
}
#reward_list > li {
    color: gray;
    font-size: 1.4rem;
}

#reward_list > li:hover {
    cursor: pointer;
    color: var(--wine--color);
}

#insertRewardBtn {
    border: 1px solid var(--wine--color);
    color: var(--wine--color);
}
.rewardContaioner {
    background-color: var(--beige--color);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 4px;
}
.reward-font {
    font-size: 1.1rem;
    color: rgb(255, 249, 241);
}

.rewardContaioner > .rewardTitleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rewardOptionLists {
    margin-left: 30px;
}
.rewardOptionLists li {
    font-size: 1.1rem;
    color: rgb(255, 249, 241);
    margin-bottom: 4px;
}

#insertRewardBtn {
    margin-top: 30px;
}

.deleteReward {
    font-size: 1.1rem;
    color: whitesmoke;
}
.deleteReward:hover {
    color: var(--wine--color);
    cursor: pointer;
}
#rewardemptyMessage {
    font-size: 1.4rem;
    position: relative;
    bottom: 13px;
}

#editor2.ck {
    position: relative;
    bottom: 15px;
}
#revealCheck {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 4px;
}
.snsInput {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.snsInput i {
    margin-right: 10px;
}
#modal_table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    background: var(--white-color);
    color: black;
    box-shadow: 0 5px 12px rgba(32, 32, 32, 3);
    text-align: center;
    font-size: 1.5rem;
}

#modal_table th {
    background-color: var(--beige--color);
    color: white;
}

#modal_table td {
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

#modal_table > tbody > tr:hover {
    background-color: var(--lightbeige--color);
    color: var(--wine--color);
}
#urlCheck {
    text-align: center;
}
.swal2-confirm {
    margin-left: 20px;
}

#modal_table > tbody > tr {
    cursor: pointer;
}
